<%= devise_error_messages! %>

<section class="login">
  <h3>Resend confirmation instructions</h3>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "centered-panel", method: :post }) do |f| %>

    <%= hidden_fields(f, :email) %>

    <core-field>
      <core-icon icon="account-circle"></core-icon>
      <paper-input label="Email" type="email" error="Please insert a valid email" layout vertical id="email"></paper-input>
    </core-field>

    <div class="center buttons">
      <a class="submit" %>
        <div class="button raised primary">
          <div class="center" fit>Resend instructions</div>
          <paper-ripple fit></paper-ripple>
        </div>
      </a>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>

<%= render "shared/submit_form" %>

<script>
  (function() {
    $('.submit').on('click', function() {
      submit_form('new_user', 'user', ['email']);
    });
  })();
</script>