<%= devise_error_messages! %>

<section class="login">
  <h3>Sign up</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "centered-panel" }) do |f| %>

    <%= hidden_fields(f, :email, :password, :password_confirmation) %>

    <core-field>
      <core-icon icon="account-circle"></core-icon>
      <paper-input label="Email" type="email" error="Please insert a valid email" layout vertical id="email"></paper-input>
    </core-field>

    <core-field>
      <core-icon icon="lock"></core-icon>
      <paper-input label="Password" type="password" layout vertical id="password"></paper-input>
    </core-field>

    <core-field>
      <core-icon icon="lock"></core-icon>
      <paper-input label="Password confirmation" type="password" layout vertical id="password_confirmation"></paper-input>
    </core-field>

    <div class="center buttons">
      <a class="submit" %>
        <div class="button raised primary">
          <div class="center" fit>Sign up</div>
          <paper-ripple fit></paper-ripple>
        </div>
      </a>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>

<%= render "shared/submit_form" %>

<script>
  (function() {
    $('.submit').on('click', function() {
      submit_form('new_user', 'user', ['email', 'password', 'password_confirmation']);
    });
  })();
</script>
