<%= form_for @user, :html => { :multipart => true }  do |f| %>

  <%= hidden_fields(f, :name, :email, :password, :admin) %>

  <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>

  <input type="file" class="filestyle file" data-buttonText="Avatar" data-buttonName="btn-primary" id="user_avatar" name="user[avatar]" value="<%= @user.avatar %>">
  </br>Name
    <input label="Name" type="text" layout vertical id="name" required value="<%= @user.name %>"></input>

  </br>Email
    <input label="Email" type="email" error="Please insert a valid email" layout vertical id="email" required value="<%= @user.email %>"></input>

  </br>Password
    <input label="Password" type="password" layout required vertical id="password"></input>

  <div>
   <%= f.select(:office, options_for_select([['El Dorado', User::DORADO], ['Clayton', User::CLAYTON]], User::DORADO)) %></div>

  <% if current_user.is_admin? %>

    </br>
    <input type="checkbox" id="admin" checked="<%= @user.admin %>">Admin</br>
  <% end %>

     <div><%= f.submit "Sign up" %></div>
     <% end %>