<%= form_for @user, :html => { :multipart => true }  do |f| %>

  <%= hidden_fields(f, :name, :email, :password, :admin) %>


  <%= image_tag @user.avatar.url(:thumb),  :class => "img-circle"  if @user.avatar? %>

  <input type="file" class="filestyle file" data-buttonText="Avatar" data-buttonName="btn-primary" id="user_avatar" name="user[avatar]" value="<%= @user.avatar %>">

  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <%= f.text_field :name, autofocus: true %></div>


  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Email</span>
  <%= f.email_field :email, autofocus: true %></div>

  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Password</span>
   <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Office</span>
   <%= f.select(:office, options_for_select([['El Dorado', User::DORADO], ['Clayton', User::CLAYTON]], User::DORADO)) %></div>

  <% if current_user.is_admin? %>

    </br>
    <input type="checkbox" id="admin" checked="<%= @user.admin %>">Admin</br>
  <% end %>

     <div><%= f.submit "Sign up" %></div>
     <% end %>