<%= form_for @user, :html => { :multipart => true }  do |f| %>

  <%= hidden_fields(f, :name, :email, :password, :admin) %>

  <input type="file" class="filestyle file" data-buttonText="Avatar" data-buttonName="btn-primary" id="user_avatar" name="user[avatar]" value="<%= @user.avatar %>">
  <core-field>
    <paper-input label="Name" type="text" layout vertical id="name" required value="<%= @user.name %>"></paper-input>
  </core-field>
  <core-field>
    <paper-input label="Email" type="email" error="Please insert a valid email" layout vertical id="email" value="<%= @user.email %>"></paper-input>
  </core-field>
  <core-field>
    <paper-input label="Password" type="password" layout vertical id="password"></paper-input>
  </core-field>
  <paper-checkbox label="Admin" id="admin" value="<%= @user.admin %>"></paper-checkbox>

  <div>
    <a class="submit" %>
      <div class="button raised primary">
        <div class="center" fit>
          <% if @user.new_record? %>
            Create
          <% else %>
            Update
          <% end %>
        </div>
        <paper-ripple fit></paper-ripple>
      </div>
    </a>
  </div>
<% end %>

<%= render "shared/submit_form" %>

<script>
  (function() {

    $('.submit').on('click', function() {
      submit_form($(this).parent().parent().attr('id'), 'user', ['name', 'email', 'password', 'admin']);
    });
  })();
</script>