<%= devise_error_messages! %>

<section class="login">
  <h3>Change your password</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "centered-panel", method: :put }) do |f| %>

    <%= f.hidden_field :reset_password_token %>
    <%= f.hidden_field(:password) %>
    <%= f.hidden_field(:password_confirmation) %>

    <core-field>
      <core-icon icon="lock"></core-icon>
      <paper-input label="New password" type="password" layout vertical id="password"></paper-input>
    </core-field>

    <core-field>
      <core-icon icon="lock"></core-icon>
      <paper-input label="Confirm new password" type="password" layout vertical id="confirmation"></paper-input>
    </core-field>

    <div class="center buttons">
      <a class="submit" %>
        <div class="button raised primary">
          <div class="center" fit>Change my password</div>
          <paper-ripple fit></paper-ripple>
        </div>
      </a>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>

<script>
  (function() {

    var form = document.getElementById('new_user');

    form.addEventListener('submit', function(event) {
      event.preventDefault();
    });

    $('.submit').on('click', function() {
      $('#user_password').val($('#password').val());
      $('#user_password_confirmation').val($('#confirmation').val());
      form.submit();
    });

  })();
</script>