<%= form_for @restaurant, :html => { :multipart => true } do |f| %>

  <%= hidden_fields(f, :name, :description, :slogan, :phone_number, :email, :address, :twitter, :instagram, :facebook, :website, :delivery) %>

  <%= image_tag @restaurant.image.url(:thumb) if @restaurant.image? %>

  <input type="file" class="filestyle file" data-buttonText="Image" data-buttonName="btn-primary" id="restaurant_image" name="restaurant[image]" value="<%= @restaurant.image %>">
  

  <div>
    <a class="submit" %>
      <div class="button raised primary">
        <div class="center" fit>
          <% if @restaurant.new_record? %>
            Create
          <% else %>
            Update
          <% end %>
        </div>
        
      </div>
    </a>
  </div>
<% end %>

<%= render "shared/submit_form" %>

<script>
  (function() {

    $('.submit').on('click', function() {
      submit_form($(this).parent().parent().attr('id'), 'restaurant', ['name', 'description', 'slogan', 'phone_number', 'email', 'address', 'twitter', 'instagram', 'facebook', 'website', 'delivery']);
    });
  })();
</script>