<div class="row">
  <% @restaurants.each do |restaurant| %>
    <section class="col-xs-3">
      <%= card_image_div(restaurant, current_user) %>
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
        <div id="users_<%= restaurant.id %>" class="show-users"></div>
      </div>
      <div class="row">
        <div class="manage-restaurant col-xs-6">
          <% if current_user.is_admin? %>
            <%= link_to edit_restaurant_path(restaurant) do %>
              <paper-icon-button icon="create"></paper-icon-button>
            <% end %>
            <%= link_to restaurant, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <paper-icon-button icon="delete"></paper-icon-button>
            <% end %>
          <% end %>
        </div>
        <a href="#" onclick="showUsers(<%= restaurant.id %>)">
          <div class="vote-count col-xs-6" id="vote_<%= restaurant.id %>">
            Votes: <%= restaurant.users.count %>
          </div>
        </a>
      </div>
    </section>
  <% end %>
</div>
<paper-toast class="toast" text="" onclick="discardDraft(this);"></paper-toast>
