  <% @restaurants.each do |restaurant| %>
    <section>
      <div class="card image" style="background-image: url(<%= restaurant.image.url(:thumb).to_s %>);">
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
      <%= link_to 'Show', restaurant %>
      <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
      <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
    </section>
  <% end %>

  <%= link_to 'New Restaurant', new_restaurant_path %>
  