
<section>
  <article class="row">
    <p> Winner: <%= @restaurant.name %> </p>
  </article>

  <article class="row">
    <p> Your Lunch </p>
    <div id="lunch_items">
      <% Order.lunch_orders(@restaurant, current_user).each do |order| %>
        <%= order.item.name %>
      <% end %>
    </div>
  </article>

  <article class="row">
    <h3> Choose your Lunch </h3>

    <% @restaurant.items.each do |item| %>
      <div class="col-xs-3">
        <div class="polaroid" id="item_<%= item.id %>">
          <p>
            <%= item.name %>
            <span><%= number_to_currency(item.price) %></span>
          </p>
          <%= image_tag image_url(item) %>
          <div class="description"><%= item.description %></div>
        </div>
      </div>
    <% end %>
  </article>
</section>