<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @restaurant.slogan %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @restaurant.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @restaurant.instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @restaurant.facebook %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @restaurant.delivery %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
