<section>
  
  <article class="row">
    <p> Winner: <%= @restaurant.name %> </p>
  </article>

  <article class="row">
    <p> Your Lunch </p>
    <div id="lunch_items">
      <ul>
        <% @items_by_user.each do |order| %>
        <% if order.nil? %>
          <li id="item_<%= order.item.id %>">
            <%= order.item.name %> <%= number_to_currency(order.item.price) %>
            <a href="#" onclick="removeOrder(<%= @restaurant.id %>, <%= order.item.id %>)">x</a>
          </li>
          <% end %>
        <% end %>
        <li>Total + 7%: <%= number_to_currency(@total + (@total * 0.07)) %></li>
      </ul>
    </div>
  </article>

  <article class="row">
    <h3> Choose your Lunch </h3>

    <% @restaurant.items.each do |item| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="#" onclick="order(<%= @restaurant.id %>, <%= item.id %>)">
          <div class="polaroid" id="item_<%= item.id %>">
            <p>
              <%= item.name %>
              <span><%= number_to_currency(item.price) %></span>
            </p>
            <%= image_tag image_url(item) %>
            <div class="description"><%= item.description %></div>
          </div>
        </a>
      </div>
    <% end %>
  </article>
</section>
<% if current_user.is_admin? %>
  <%= link_to "Export Lunch list", lunch_path(@restaurant) %>
<% end %>