<%= form_for [@restaurant, @item], :html => { :multipart => true } do |f| %>

  <%= hidden_fields(f, :name, :description, :price) %>

  <%= image_tag @item.image.url(:thumb) if @item.image? %>

  <input type="file" class="filestyle file" data-buttonText="Image" data-buttonName="btn-primary" id="item_image" name="item[image]" value="<%= @item.image %>">

     </br>Name
    <input label="Name" type="text" layout vertical id="name" required value="<%= @item.name %>"></input>

    </br>Description
    <input multiline label="Description" layout vertical id="description" value="<%= @item.description %>"></input>

    </br>Price
    <input label="Price" type="text" error="Please insert a price" layout vertical id="price" value="<%= @item.price %>" required></input>

  <div>
    <a class="submit" %>
    <button type="button">
          <% if @item.new_record? %>
            Create
          <% else %>
            Update
          <% end %>
        </div>
        </button> 
      </div>
    </a>
  </div>
<% end %>

<%= render "shared/submit_form" %>

<script>
  (function() {

    $('.submit').on('click', function() {
      submit_form($(this).parent().parent().attr('id'), 'item', ['name', 'description', 'price']);
    });
  })();
</script>