<h2><strong>Listing items</strong></h2>

<p><span class="label label-info"> <%= @restaurant.name %></span></p>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @items.each do |item| %>
          <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= item.image %></td>
          <td><%= link_to 'Show', restaurant_item_path(@restaurant, item) %></td>    
          <% if current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_restaurant_item_path(@restaurant, item) %></td>
          <td><%= link_to 'Destroy', restaurant_item_path(@restaurant, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
       <% end %>

    </tbody>
  </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <br>





  <% if current_user.is_admin? %>

  <nav>
  <ul class="pager">

  <li><%= link_to 'New Item', new_restaurant_item_path(@restaurant) %>
  <% end %></li>
  <li><%= link_to "Back", :back %></li>
  </ul>
  </nav>

