<section >
<p id="notice"><%= notice %></p>

<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price) %>
</p>

<p>
  <strong>Image:</strong>
  <%=image_tag @item.image,  :class => "img-thumbnail"  %>

</p>


<% if current_user.is_admin? %>

<nav>
<ul class="pager">

<li><%= link_to 'Edit', edit_restaurant_item_path(@restaurant, @item) %> 
<% end %></li>


<li><%= link_to 'Back', restaurant_items_path(@restaurant) %></li>

<li><%= link_to 'Make my Order', restaurant_path(@restaurant) %></li>
</ul>
</nav>

</section >