<h3>Listing items</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.image %></td>     

    <% end %>

    </tr>
  </tbody>
</table>

<br>
<%= link_to "Back", :back %>
