<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body unresolved touch-action="auto">

<nav class="navbar navbar-default navbar-fixed-top">
      <% if user_signed_in? %>
            <div class="container">
            <ul class="nav nav-pills">
            <li role="presentation">
                <%= link_to "Settings", edit_user_path(current_user) %>
            </li>
            <li role="presentation">
            <%= link_to "New Restaurant", new_restaurant_path %>
            </li>

          <% if current_user.is_admin? %>
                      <li role="presentation">
             <%= link_to "Manage Users", users_path %>
             </li>
            <li role="presentation">
             <%= link_to "Manage Lunch", menu_path %>
            </li>
            </ul>

             </div>
          <% end %>

      <% end %>
</nav>

<app-bar></app-bar>



      <div flex>
         </br>
         </br>
         </br>
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:avatar) if current_user.avatar  %>

          <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
          <%= link_to "Choose wisely!", root_path %>
          </button>
        <% else %>
          <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <%= link_to "Lunch", root_path %>
          </button>
        <% end %>

      <% if user_signed_in? %>

        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-off" aria-hidden="true">
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
        <strong>Logout</span></strong></span></button>
        
        <% end %>
      <% end %>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>



</body>
</html>