<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>

</head>
<body unresolved touch-action="auto">
<app-bar></app-bar>


        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:avatar) if current_user.avatar %>
          <%= link_to "Choose wisely!", root_path %>
        <% else %>
          <%= link_to "Lunch", root_path %>
        <% end %>
      </div>


    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>


</body>
</html>