<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body unresolved touch-action="auto">
<app-bar></app-bar>
  <core-header-panel mode="standard">
    <core-toolbar>
      <% if user_signed_in? %>
        <core-icon-button icon="menu" on-tap="{{menuAction}}"></core-icon-button>
      <% end %>
      <div flex>Lunch</div>
      <% if user_signed_in? %>
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
          <core-icon-button icon="settings-power"></core-icon-button>
        <% end %>
      <% end %>
    </core-toolbar>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} alert alert-danger" %>
    <% end %>

    <%= yield %>

  </core-header-panel>

</body>
</html>
