<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body unresolved touch-action="auto">

  <core-header-panel class="raised">
    <div class="core-header">
      <div class="logo nocollapse font-special">
        Lunch
      </div>
    </div>
  </core-header-panel>

  <%= yield %>

</body>
</html>
