<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body unresolved touch-action="auto">
<app-bar></app-bar>
  <core-header-panel mode="standard" class="container-fluid">
    <core-toolbar>
      <% if user_signed_in? %>
        <paper-menu-button icon="menu">
          <paper-item icon="settings" label="Settings"></paper-item>
          <% if current_user.is_admin? %>
            <paper-item icon="account-child" label="Manage Users">
              <%= link_to '', users_path %>
            </paper-item>
            <paper-item icon="alarm" label="Manage Lunch"></paper-item>
            <paper-item icon="room" label="New Restaurant">
              <%= link_to '', new_restaurant_path %>
            </paper-item>
            <paper-item icon="list" label="Export List">
          </paper-item>
          <% end %>
        </paper-menu-button>
      <% end %>
      <div flex>
        <% if user_signed_in? %>
          <%= link_to "Choose wisely!", root_path %>
        <% else %>
          <%= link_to "Lunch", root_path %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= link_to(destroy_user_session_path, :method => :delete) do %>
          <core-icon-button icon="settings-power"></core-icon-button>
        <% end %>
      <% end %>
    </core-toolbar>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

  </core-header-panel>

</body>
</html>
